.container{
    width: 400px;
    background-color: lightgoldenrodyellow;
    display: flex;
    border-radius: 5px;
    padding: 10px;
    justify-content: center;
}

#joke{
    display: block;
    margin: auto 10px;
    padding: 10px;
}

#setup{
    font-size: 20px;
    color:rgb(66, 18, 18);
}
#punchline{
    font-style: italic;
    font-size: 18px;
    color: black;
}